body {
    font-family: Fjalla One;
  }
  
  form input,
  textarea {
    display: block;
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 35%;
    font-family: "Baloo Bhai", cursive;
  }
  
  .submit-button {
    padding: 10px;
    margin: 20px auto 20px auto;
    display: block;
    font-family: "Baloo Bhai", cursive;
    background-color: white;
    cursor: pointer;
  }
  
  label {
    display: none;
  }
  

  div.a {
    text-align: center;
  }